:root {
    --body-width: 1200px;
}
*, *:after, *:before { box-sizing: border-box; }
html {
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
}

body {
    background-color: #ccc;
    margin: 0 auto;
    max-width: var(--body-width);
    padding: 0;
}

h2 {
    margin: 0 0 1rem;
    font-weight: normal;
    
}

img {
    height: auto;
    max-width: 100%;
}

.global-nav {
    background-color: #90aaed;
    margin: 0 calc(50% - 50vw);
}

.global-nav_menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    border-bottom: .25rem solid black;
}

.global-nav_menu_item {
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.25rem;

}

.global-nav_menu_link {
    text-decoration: none;
    padding: 2rem 1rem 1.5rem;
    display: block;
    color: black;
}

.global-nav_menu_link:hover,
.global-nav_menu_link:focus {
    background-color: #ffc900;
    transition: background-color .25s linear;
    
}


.directory {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    
}

.directory-item {
    border: .25rem solid black;
    border-radius: 2rem;
    background-color: #ffffff;
    padding: 1rem;
    transition: border-radius 2s linear;
    text-decoration: none;
    color: black;

}

.directory-item:hover {
    border-radius: 0;
    transition: border-radius .25s linear;

}

.directory-item-polaroid {
    background-color: black;
    padding: 3rem;
    height: 18rem;
}

.global-footer {
    background-color: #90aaed;
    margin: 4rem calc(50% - 50vw) 0;
    padding: 2rem 1rem;
    border-top: .25rem solid black;
}

.global-footer > section {
    margin: 0 auto;
    max-width: var(--body-width);
}

.hero {
    /*background: url("/images/photography/sports/IMG_5008.JPG");*/
    background-position: center center;
    background-size: cover;
    border: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100dvh;
    margin: 1rem 0;
    padding: 2rem;
}

.hero_title {

}

.hero_action {
    background-color: blue;
    color: white;
    display: inline-block;
    padding: 1rem;
    text-align: right;
    text-decoration: none;
}